html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.body {
  font-family: "Lato", sans-serif;
  background-image: url(background.png);
  background-size: cover;
}


.container {
  margin: 20px 40px 20px 20px;
  text-align: center;
  border-radius: 10px;
}


.container__header {
  background-color: #ff3333;
  border: 5px solid black;
  border-radius: 20px;
  padding: 20px 0;
  font-weight: unset;
}

.form__fieldset {
  border-color: #ffff00;
  border-radius: 25px;
  width: 50%;
  display: inline-block;
  background-color: aliceblue;
}

.form__legend {
  border: 2px dashed;
  border-radius: 10px;
  background-color: #cfdb24;
  color: black;
  font-size: 20px;
  padding: 10px;
}

.form__labelText {
  font-size: 18px;
  font-style: italic;
  margin: 0px 2px;
}

.form__button {
  cursor: pointer;
  border-radius: 20px;
  padding: 15px;
  border: none;
  background-color: #cfdb24;
  margin: 30px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: bold;
}

.form__button:hover {
  background-color: hsl(64, 72%, 75%);
}

.form__result {
  text-align: left;
  font-size: 20px;
}

